<p-toast></p-toast>

<div class="container">

    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
        <div class="ui-g">

            <div class="ui-g-12">
              <h1>Nova Cidade</h1>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label>Nome</label>
                <input pInputText type="text" name="nome" [(ngModel)]="cidade.nome" #nome="ngModel" required minlength="3">
                <div *ngIf="nome.hasError('required') && nome.touched">Informe um nome</div>
                <div *ngIf="nome.hasError('minlength')">O nome deve ter no mínimo 3 caracteres</div>
            </div>
            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label>Estado</label>
              <p-dropdown [options]="estados"
                [(ngModel)]="cidade.estado.id"
                name="estado" [filter]="true">
              </p-dropdown>

            </div>

            <div class="ui-g-12">
              <button pButton type="submit" label="Salvar" [disabled]="f.invalid" class=" boxButton"></button>
              <button pButton type="button" label="Novo" class="ui-button-info" class=" boxButton" routerLink="/cidades"></button>
            </div>
        </div>
    </form>

</div>

